<li class="card">
    <img src="./static/images/animal3.jpg" />
    <p>
        <strong>Name: </strong><span class="name">{{name}}</span>
    </p>
    <p>
        <strong>Location: </strong><span class="location">Toronto Zoo</span>
    </p>
    <p><strong>Need of:</strong><span class="need-of">Food</span></p>
    <a class="details-btn" href="#">Details</a>
</li>